*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  background: none;
  box-shadow: none;
}

label,
button,
select,
option {
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: var(--slate);
  line-height: 150%;
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: var(--white);
}

body.lock {
  overflow: hidden;
}

.title-1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: var(--white);
  letter-spacing: 0.02em;
  text-align: center;
}

.title-2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 111%;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  text-align: center;
}

.title-3-mobile {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 111%;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  text-align: center;
}

.title-3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: var(--navy-blue);
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.test {
  color: red;
}

.button-text {
  display: block;
  border: none;
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text:hover,
.button-text:focus {
  background-color: var(--ocean);
}

.logo-text {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 117%;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--iris);
  display: block;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.page-container > main {
  flex-grow: 1;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .title-1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
  }
}
@media screen and (min-width: 1158px) {
  body {
    font-weight: 400;
  }
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .title-3-mobile {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
  }
}
body {
  padding-top: 56px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--cornflower);
  background-color: var(--white);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 50;
}

.header-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-span {
  color: var(--navy-blue);
}

.header-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-menu-title {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-title:hover,
.header-menu-title:focus {
  color: var(--ocean);
}

.header-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.header-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--ocean);
}

.header-burger {
  line-height: 0;
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
}

.burger-icon {
  width: 24px;
  height: 24px;
  fill: var(--navy-blue);
}

.button-close-header {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid var(--navy-blue);
  border-radius: 50%;
  background-color: var(--cornflower);
  cursor: pointer;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social {
  display: flex;
  justify-content: start;
  gap: 40px;
}

.header-icon {
  fill: var(--cloud);
  width: 24px;
  height: 24px;
}

.header-social-link:hover,
.header-social-link:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .header-mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 72px 16px 40px 16px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    z-index: 1000;

    /* Скрыто по умолчанию */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-100%);
    transition:
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Видимое состояние */
  .header-mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }

  .header-contacts-list{
    flex-direction: column-reverse;
  }
  .header-menu li:nth-child(1) .header-menu-title {
    color: var(--ocean);
  }

  .header-contacts-list li:last-child .header-contact {
    color: var(--ocean);
  }
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 72px;
  }
  .header-social {
    display: none;
  }
  .header-burger {
    display: none;
  }
  .header-mobile-menu {
    display: flex;
    align-items: center;
    gap: 120px;
  }
  .button-close-header {
    display: none;
  }
  .header-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-weight: 500;
    padding: 0;
  }
  .header-contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
  }
  .header-contacts-list {
    justify-content: center;
    gap: 12px;
    margin-bottom: 0;
  }
  .header-menu-title {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu li:nth-child(1) .header-menu-title {
    position: relative;
    color: var(--ocean);
  }
  .header-menu li:nth-child(1) .header-menu-title::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
  }
  .header-contacts {
    font-size: 16px;
    line-height: 150%;
    gap: 40px;

  }
}
@media screen and (min-width: 1158px) {
  .header-wraper {
    justify-content: start;
    gap: 76px;
  }
  .header-mobile-menu {
    flex-grow: 1;
    justify-content: space-between;
    gap: 0px;
  }
  .header-contacts-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  .header-contact {
    font-size: 16px;
    line-height: 150%;
  }
}

.hero {
  max-width: 320px;
  position: relative;
  background-color: var(--navy-blue);
  padding: 72px 0;
  margin-left: auto;
  margin-right: auto;
   background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.hero .container {
  position: relative;
  z-index: 2;
}

.hero-title {
  max-width: 216px;
  margin: 0 auto 72px;
}

.hero-button {
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
.hero{
  max-width: 320px;
background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}
.advantages-cards-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}

.advantages-card-icon {
  display: none;
}

.advantages-card-title {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .advantages-cards-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }
  .advantages-cards-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .advantages-cards-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .advantages-card-icon {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    background-color: var(--cloud);
    margin-bottom: 8px;
  }
  .card-icon {
    height: 64px;
    width: 64px;
  }
}
.team {
  background-color: var(--cloud);
}

.team-title {
  text-align: center;
  margin-bottom: 72px;
}

.team-cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 72px;
}

.team-card {
  max-width: 264px;
  background-color: var(--white);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-card-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-card-job {
  text-align: center;
  margin-bottom: 8px;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icon {
  fill: var(--cloud);
  width: 16px;
  height: 16px;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .team-cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }
  .team-card {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team-card {
    width: calc((100% - 72px) / 4);
  }
}
.portfolio-title {
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-cards-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 72px;
}

.porfolio-card {
  width: 288px;
  display: block;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-img img {
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: var(--cloud);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-card:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-cards-text {
  padding: 32px 16px;
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
}

.portfolio-card-title {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio-cards-list {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 24px;
  }
  .porfolio-card {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-cards-list {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 48px;
  }
  .porfolio-card {
    width: calc((100% - 48px) / 3);
  }
}
.footer {
  background-color: var(--navy-blue);
  padding-top: 96px;
  padding-bottom: 96px;
  color: var(--white);
}

.footer-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.footer-text-logo {
  margin-bottom: 72px;
}

.footer-logo {
  text-align: center;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: var(--cloud);
}

.footer-text {
  max-width: 288px;
  color: var(--cloud);
}

.footer-social-media {
  margin-bottom: 72px;
}

.footer-social-text {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icon {
  fill: var(--cloud);
  width: 24px;
  height: 24px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-subscribe-text {
  text-align: center;
  font-weight: 500;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-subscribe-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-subscribe-input {
  display: inline-block;
  color: var(--white);
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid var(--white);
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
}

.footer-subscribe-input::placeholder {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.04em;
}

.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

.footer-subscribe-icon {
  fill: var(--white);
  height: 24px;
  width: 24px;
  margin-left: 16px;
}
@media screen and (min-width: 320px) and (max-width: 767px){
.footer-subscribe-input{
  width: 288px;
}
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-wraper {
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }
  .footer-text-logo {
    margin-bottom: 0px;
  }
  .footer-logo {
    text-align: start;
    margin-bottom: 16px;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-social-media {
    margin-bottom: 0px;
  }
  .footer-social-text {
    text-align: start;
  }
  .footer-subscribe-text {
    text-align: start;
  }
  .footer-subscribe-form {
    align-items: start;
  }
  .footer-subscribe-wraper {
    flex-direction: row;
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-wraper {
    justify-content: space-between;
    padding-left: 16px;
    gap: 0px;
  }
  .footer-text-logo {
    margin-right: 120px;
  }
  .footer-social-media {
    margin-right: 80px;
  }
}
.modal-overlay {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2E2F4266;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  min-height: 584px;
  max-width: 408px;
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  margin-bottom: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close-modal:hover,
.button-close-modal:focus {
  background-color: #404bbf; 
  border: none;
  border-color: #404bbf;
}

.button-close-modal:hover .close-icon ,
.button-close-modal:focus .close-icon {
  fill: #ffffff;
}

.form-title {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  color: #2e2f42;
  line-height: 150%;
}
.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-container {
  margin-bottom: 8px;
}
.form-text-label {
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.form-input-container {
  position: relative;
}
.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 10px 11px 38px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.textarea-container {
  margin-bottom: 16px;
}
.form-textarea {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: #4d5ae5;
}
.form-textarea::placeholder {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  color: #8e8f99;
}

.form-checkbox-label {
  display: flex;
  align-items: center; /* ключевая правка */
  gap: 4px;
  flex-wrap: wrap;
}

.form-checkbox {
  height: 16px;
  width: 16px;
}

.form-text-link {
  color: #4d5ae5;
  text-transform: capitalize;
  text-decoration: underline;
}

.form-checkbox:checked + .form-checkbox-label > .checkbox-empty {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  border-color: #404bbf;
}
.checkbox-empty {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
}
.form-button {
  min-width: 169px;
  padding: 16px 32px 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover {
  background-color: #404bbf;
}

.form-text-link {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 4px;
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 288px;
    padding: 72px 16px 24px; /* Увеличили верхний отступ */
  }

  .button-close-modal {
    top: 16px;
    right: 16px;
  }
  .form-checkbox-label {
    flex-direction: row;
    align-items: center;
    line-height: 1.4;
  }

  .form-checkbox-label span {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.4;
  }

  .checkbox-empty {
    margin-top: 2px; 
  }

}